@keyframes animation {

    0%,
    100% {
        transform: rotate(0deg) translateX(0%) translateY(0%);
    }

    25% {
        transform: rotate(-1deg) translateX(-1%) translateY(1%);
    }

    50% {
        transform: rotate(0deg) translateX(0%) translateY(1%);
    }

    75% {
        transform: rotate(1deg) translateX(1%) translateY(-1%);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        height: 100%;
    }

    99% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 0;
        display: none !important;

        /* display: none が効かない場合用 */
        position: fixed;
        top: -999;
        left: -999;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#content_frame {
    margin: 2em 2em;
    position: relative;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.5em, 1fr));
    justify-items: center;
    align-items: center;
}

#content * {
    font-weight: bold;
}

.frame_frame {
    display: block;
    width: 100%;
    z-index: 2;
    padding: .7em;
    box-sizing: border-box;
}

.frame_frame:has(.frame_hidden) {
    animation: fadeout .1s linear forwards !important;
}

.frame {
    transform-origin: center bottom;
    /* animation: animation 5s ease-in-out infinite; */

    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto 2fr 3fr 2fr;
    padding: .5em;
    border-radius: .5em;
    backdrop-filter: blur(1px);
    box-shadow: 5px 8px 12px rgba(64, 64, 64, .4);

    background-image: linear-gradient(to right, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .3) 51%, rgba(255, 255, 255, .5) 100%);
    transition: background-size .3s, background-position .3s;
    background-size: 200% auto;

    animation: fadein .1s linear forwards !important;
}

.frame:has(.bg_image) {
    background: none !important;
}

.bg_image {
    background-size: 100%;
    border-radius: .5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .8;
    transition: filter 0.25s ease 0s;
    background-position: center center;
}

.frame:hover {
    background-position: right center;
}

.frame:hover .bg_image {
    filter: blur(1px) contrast(105%) brightness(105%);
}

.frame_hidden {
    animation: fadeout .1s linear forwards !important;
}

.title_frame {
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
}

.bg_image~.title_frame .title {
    background: none !important;
    background-color: #fff !important;
    border-radius: .25em;
    opacity: .8;
}

.tag_frame {
    display: flex;
    gap: .25em;
    padding-bottom: .5em;
}

.tag {
    user-select: none;
    font-size: small;
    padding: 0 .5em;
    border-radius: .5em;
    background-color: #eee;
    opacity: .75;
    transition: opacity .15s ease 0s;
}

.tag:hover {
    opacity: .3;
    cursor: pointer;
}

.tag_is_select {
    transition: background-color 0.25s ease 0s;
    /* クラスをつけた時だけアニメーション */
    background-color: rgb(76, 100, 233);
    color: #fff;
}

.title {
    width: auto;
    display: inline;
    white-space: nowrap;
    padding: 0 .5em;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pallet {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .4em;
}

.paint_frame {
    padding: 0;
    border: 2px solid #eeeeee;
    width: 1.9em;
    height: 1.9em;
    border-radius: 10%;
    display: block;
    transition: opacity 0.25s ease 0s;
    user-select: none;
}

.paint_frame:hover {
    cursor: pointer;
    opacity: .75;
}

.paint {
    background: #000000;
    border-radius: 1px;
    height: 100%;
    width: 100%;
}

.color_code_frame {
    text-align: center;
    display: block;
    position: relative;
}

.color_code {
    font-size: large;
    display: inline-block;
    padding: .1em 1em;
    border-radius: 12px;
    transition: background-color 0.25s ease 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 2px solid #eeeeee;
}

.dummy_frame {
    height: 0;
    width: 100%;
}